@model IEnumerable<Product>
@{
    ViewBag.Title = "Art Shop";
}

<h4>Count:@Model.Count()</h4>

@foreach (var q in Model)
{
    <div class="col-md-3">
    <div class="well well-sm">
        <img src="~/img/@(q.ArtId).jpg" class="img-responsive"/>
        <h3>@q.Category-@q.Size</h3>
        <ul>
            <li>Price: @q.Price</li>
            <li>Artist: @q.Artist</li>
            <li>Title: @q.Title</li>
            <li>Description: @q.ArtDescription</li>
        </ul>
    </div>
    </div>

}
